:root {
  --background-color: hsl(261, 100%, 4%);
  --background-color-inverted: hsl(81, 100%, 96%);
  --background-color-light: hsl(261, 100%, 7%);
  --primary-color: hsl(261, 100%, 30%);
  --primary-color-faded: hsla(261, 100%, 30%, 0.8);
  --secondary-color: hsl(30, 100%, 47%);
  --secondary-color-faded: hsla(30, 100%, 47%, 0.08);
  --secondary-color-inverted: hsl(210, 100%, 53%);
}
